a {
    text-decoration: none; 
    color: inherit;
    cursor: pointer; 

  
}
a:hover {
    color: greenyellow;
}

.borderAnimate{
    position: relative;
    &:before{
        content: " ";
        display: block;
        width: 0px;
        height: 3px;
        background-color:greenyellow;
        position: absolute;
        left: 15;
        bottom: 0;
        transition: all 1s;
    }
    &:hover::before{
        width: 80%;

    }
}

.fondo{
    background: linear-gradient(to bottom right, rgb(59, 98, 0), yellow);

}


